header{ 
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.hero-img{
    width: 100%;
}
.hero-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.hero-div > img{
    width: 400px; 
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
}
.para-container{
    width: 29%;
   text-align: center;
}
.text-lg{
    font-size: 40px;
}
.text-md{
    font-size: 20px;
}
.text-blue{
    color: rgb(10, 10, 152);
}
#hero{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#about{
   display: flex;
   justify-content: center;  
}
#contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.text-md > a{
    color: rgb(28, 28, 199);
}
.victory-img{
    width: 250px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 4px black;
}
.victory-img:hover{
    transform: translateY(10px);
}
#victory{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
} 
footer{
    text-align: center;
    padding: 4px;
    width: 100%;
    margin-top: 60px;
}
